<section id="page1">
    <div class="menu-wrapper">
       <menu-header></menu-header>
    </div>
</section>
<section id="page2">
    <div class="container text-center">
        <div class="row">	
            <h1>h1. Bootstrap heading</h1>
            <p class="text-size">Stylized implementation of HTML's element for abbreviations and acronyms to show the expanded version on hover. Abbreviations with a title attribute have a light dotted bottom border and a help cursor on hover, providing additional context on hover.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="javascript:void(0)"><img src="images/flaca.jpg" alt="1" class="img-circle thumbnail-border"></a>
                <h2>Some Text</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nibh nulla, aliquet in sagittis et, aliquet id dolor.</p>
            </div>
            <div class="col-md-4">
                <a href="javascript:void(0)"><img src="images/flaca2.jpg" alt="2" class="img-circle thumbnail-border"></a>
                <h2>Some Text</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nibh nulla, aliquet in sagittis et, aliquet id dolor.</p>
            </div>
            <div class="col-md-4">
                <a href="javascript:void(0)"><img src="images/flaco.jpg" alt="3" class="img-circle thumbnail-border"></a>
                <h2>Some Text</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nibh nulla, aliquet in sagittis et, aliquet id dolor.</p>
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-larouge btn-huge">Block level button</button>
        </div>
    </div>
</section>
<section id="page3">
    <div class="container text-center">
        <div class="row">	
            <h1>Lorem ipsum dolor sit amet</h1>
        </div>
        <div class="buffer"></div>
        <ul class="list-unstyled shopping-list">
            <li class="shopping-item">
                <a href="javascript:void(0)" class="shopping-link">
                    <img src="images/shopping-list.png" alt="shopping-list" class="shopping-image" />
                    <h2 class="margin-bottom itemHover">Tips / Blogs</h2>
                    <p class="margin-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nibh nulla, aliquet in sagittis et, aliquet id dolor.</p>
                    <button type="button" class="btn btn-larouge">Ver mas</button>
                </a>
            </li>
            <li class="shopping-item">
                <a href="javascript:void(0)" class="shopping-link">
                    <img src="images/shopping-iphone.png" alt="shopping-iphone" class="shopping-image" />
                    <h2 class="margin-bottom itemHover">Reserva Online</h2>
                    <p class="margin-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nibh nulla, aliquet in sagittis et, aliquet id dolor.</p>
                    <a href="/" class="btn btn-larouge">Ver mas</a>
                </a>
            </li>
            <li class="shopping-item">
                <a href="javascript:void(0)" class="shopping-link">
                    <img src="images/shopping-cart.png" alt="shopping-cart" class="shopping-image" />
                    <h2 class="margin-bottom itemHover">Tienda</h2>
                    <p class="margin-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nibh nulla, aliquet in sagittis et, aliquet id dolor.</p>
                    <a href="/" class="btn btn-larouge">Ver mas</a>
                </a>
            </li>
            <li class="shopping-item" >
                <a href="javascript:void(0)" class="shopping-link">
                    <img src="images/shopping-woman.png" alt="shopping-woman" class="shopping-image" />
                    <h2 class="margin-bottom itemHover">Promociones</h2>
                    <p class="margin-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nibh nulla, aliquet in sagittis et, aliquet id dolor.</p>
                     <a href="/" class="btn btn-larouge">Ver mas</a>
                </a>
            </li>
        </ul>
<!--         <div class="row" ng-init="highlightItem = false">
            <div class="col-md-3" ng-mouseenter="highlightItem2=true" ng-mouseleave="highlightItem2=false">
                <a href="javascript:void(0)">

                </a>
                <h2 class="margin-bottom" ng-class="{itemHover: highlightItem2}">Reserva Online</h2>
                <p class="margin-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nibh nulla, aliquet in sagittis et, aliquet id dolor.</p>
                <button type="button" class="btn btn-larouge">Ver mas</button>
            </div>
        </div> -->
    </div>
    <div class="buffer"></div>
</section>
<section id="page4" style="position: relative">
    <div class="container text-center">
        <div class="row">	
            <h1>Lorem ipsum dolor sit amet</h1>
            <p class="text-size">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nibh nulla, aliquet in sagittis et, aliquet id dolor.</p>
        </div>
        <div class="buffer"></div>
        <div class="row">
            <div class="col-md-3 circle-product">
                <a href="http://www.facebook.com"><img src="images/circle1.png" alt="1" class="img-circle thumbnail-border thumbnail-product"></a>
            </div>
            <div class="col-md-3 circle-product">
                <a href="javascript:void(0)"><img src="images/circle2.png" alt="2" class="img-circle thumbnail-border thumbnail-product"></a>
            </div>
            <div class="col-md-3 circle-product">
                <a href="javascript:void(0)"><img src="images/circle3.png" alt="3" class="img-circle thumbnail-border thumbnail-product"></a>
            </div>
            <div class="col-md-3 circle-product">
                <a href="javascript:void(0)"><img src="images/circle4.png" alt="4" class="img-circle thumbnail-border thumbnail-product"></a>
            </div>
        </div>
        <div class="buffer"></div>
        <div class="row">
            <button type="button" class="btn btn-larouge btn-huge">Block level button</button>
        </div>
        <img src="images/bambook.png" alt="5" class="bambook">
    </div>
</section>
<section id="page5">
    <div class="map-wrapper">
        <div id="map_canvas">
            <google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                <marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" >
                </marker>
            </google-map>
        </div>
        <img src="images/map.png" alt="" class="map-link" />
        <h2 class="map-title">Ubicanos y se parte del cambio</h2>
        <p class="map-text">Estas buscando tener nueves experiencias para renovar tu estilo?</p>
        <button class="btn map-btn btn-larouge btn-big">Si, busco renovar mi estilo</button>
    </div>
</section>